.notif_alert {
  background: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
  width: 400px;
  margin:auto;
  height: auto;
  padding: 20px;
  position: relative;

  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}